.example-card {
    min-width: 500px;
    margin: 40px;

}


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
}
  
.flex > div {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
}

input[type=text] {
    width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;  
}


